<!--
Source - https://stackoverflow.com/a
Posted by Chanrithisak Phok, modified by community. See post 'Timeline' for change history
Retrieved 2025-11-22, License - CC BY-SA 4.0
-->

<!doctype html>


<head><title>Home Page</title> 
    <meta charset=utf-8> </head>
    <body>
        <h1>Storyteller</h1>

        <b>
            Hello! <br> Would you like me to tell you a story?
        </b>

        <form action="/tell-story/">
            <input type="submit" value="Tell me a story" />
        </form>
        
    </body>