<!doctype html>
<!-- this is meant to be a template for story """pages""" -->


<head><title>Story</title> 
    <meta charset=utf-8> 
    <style type="text/css">
  body {
    padding-left: 2em;
    font-family: Georgia, "Times New Roman",
          Times, serif;
    color: rgb(79, 6, 79);
    background-color: #67bed9 }
  ul.navbar {
    position: absolute;
    top: 2em;
    right: 1em; 
    width: 10em; }
    </style>
</head>
</head>
    <body>

        <!-- Site navigation menu -->
        <ul class="navbar">
            <a href="settings.html">⚙Settings⚙</a>
            <a href="links.html">🔗Links🔗</a>
        </ul>

        <h1>Storyteller</h1>
        <h2>[title]</h2>

        <b>
            [text]
        </b>

        <form action="/next/">
            <input type="submit" value="Talk" />
            <input type="submit" value="Next" />
        </form>

        <form action="/prev/">
            <input type="submit" value="Prev" />
        </form>
        

    </body>